# Ignoring the following directories
.vs/
.idea/
UKT3G1.sln
env/
ukt_venv/
[Oo]bj/
tests/
test/
__pycache__/
*.pyproj
*.pyproj.user
*.pyc
*.png
*.js
*.jpg
/UKT3G1/UKT3G1/test.db
test.db
test2.db
db.py