# Ignoring the following directories
.vs/
.idea/
UKT3G1.sln
env/
ukt_venv/
[Oo]bj/
test/
/UKT3G1/build/
/UKT3G1/dist/
/UKT3G1/UKT3G1.egg-info/
__pycache__/
*.pyproj
*.pyproj.user
*.pyc
*.png
*.js
*.jpg
/UKT3G1/UKT3G1/test.db
test.db
test2.db
