{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    University of Librarian Studies and Information Technologies <br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    359.000.000.00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Sukt3g1@example.com">Support@example.com</a><br />
    <!---<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>

{% endblock %}
