{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Web portfolio of students group</h1>
    <p class="lead">Web Portfolio created by students from University of Librarian Studies and Information Technologies. Showing their achievements and contribution to this course project.</p>
    <p><a href="{{ url_for('about')}}" class="btn btn-primary btn-large">About &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a post</h2>
        <p>Create a post showing your contribution to this project.</p>
        <p><a class="btn btn-default" href="{{url_for('create_post')}}">Create a post &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User posts</h2>
        <p>View your created posts.</p>
        <p><a class="btn btn-default" href="{{ url_for('user_posts', username=user.username)}}">View posts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Account information</h2>
        <p>ou can access and update your profile settings from here.</p>
        <p><a class="btn btn-default" href="{{url_for('account')}}">Account &raquo;</a></p>
    </div>
</div>

{% endblock %}